[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
qrcode = {extras = ["pil"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
